<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm">
    <div class="container">
      <a class="navbar-brand" href="">
        <img src="{{ ASSETS_ROOT }}/img/logo-ct-dark.png" alt="Logo" height="30">
        Kitchen 🍴
      </a>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="btn btn-outline-primary" href="/menu/">Меню</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-outline-primary" href="/cart/">Кошик</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-outline-primary" href="/orders">Замовлення</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-outline-primary" href="/dish/">Список страв</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-outline-primary" href="/dish/create/">Додати страву</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-outline-primary" href="{% url 'create_dish_type' %}">Додати тип страви</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-outline-primary" href="{% url 'create_cook' %}">Додати кухаря</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>