{% extends "base.html" %}

{% block title %}Кошик{% endblock %}

{% block content %}
<h2>Ваш кошик</h2>
{% if cart_items %}
    <ul>
        {% for item in cart_items %}
            <li>{{ item.quantity }} x {{ item.dish.name }} ({{ item.total_price }} грн)</li>
        {% endfor %}
    </ul>
    <p>Загальна сума: {{ total_price }} грн</p>
    <a href="{% url 'checkout' %}" class="btn btn-success">Оформити замовлення</a>
{% else %}
    <p>Кошик порожній.</p>
    <a href="{% url 'menu' %}" class="btn btn-primary">Переглянути меню</a>
{% endif %}
{% endblock %}
