{% extends "layouts/base.html" %}

{% block title %}Edit Dish{% endblock %}

{% block content %}
  {% include 'includes/navigation-custom.html' %}

  <div class="container mt-5">
    <h2 class="text-center mb-4">Редагувати страву</h2>

    <div class="card shadow-sm">
      <div class="card-body">
        <form method="post">
          {% csrf_token %}

          <div class="form-group mb-3">
            {{ form.as_p }}
          </div>

          <button type="submit" class="btn btn-primary btn-block">Save Changes</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}

#qq